@import url('https://fonts.googleapis.com/css2?family=Cossette+Texte:wght@400;700&display=swap');
body {
  font-family: "Cossette Texte", sans-serif;
}
header {
  background-color: #fdfdfd;
  padding: 2rem;
}
header > div.innerContainer {
  align-items: center;
  justify-content: center;
}
.logo {
  max-height: 120px;
}
/** classes **/
button {
    margin-top: auto;
    background-color: #09b1ba;
    border: 1px solid #09b1ba;
    color: #fff;
    padding: 1.8rem;
    border-radius: 10px;
    font-size: 1.6rem;
    cursor: pointer;
}
button:hover {
  background-color: transparent;
  color: #09b1ba;
}
/*** header ***/
header form {
    /* flex: 1; */
    flex-basis: 400px;
    margin: auto;
}
input[type="search"] {
    width: 100%;
    padding: 2rem;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 8px;
}
header .innerContainer.flexContainer > * {
    flex: 1;
}
/** nav **/
header nav ul.flexContainer {
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 2rem;
    justify-content: flex-end;
}

header nav li button {
    padding: 1.2rem 2rem;
}
/**/
main {
  background-color: #eee;
}
section#products {
    gap: 20px;
    padding: 1rem 1.5rem;
}
section#products > a {
    flex: 1 1 calc(50% - 20px);
    text-decoration: none;
}
section#products img.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
section#products article img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}
section#products .contAvatar {
  align-items: center;
  gap:20px;
}
section#products figure ~ p {
  margin: .2rem 0;
}
@media (min-width:1024px) {
  section#products > a {
      flex: 1 1 calc(33% - 20px);
      text-decoration: none;
  }
}
@media (min-width:1280px) {
  section#products > a {
      flex: 1 1 calc(25% - 20px);
      text-decoration: none;
  }
}
/*** PAGE OFFER **/
#product article {
    display: flex;
    gap:1rem;
    width: 100%;
    flex-direction: column;
}
#product article > * {
  flex: 1;
  margin: 2rem 0;
}
#product .swiper {
    flex-basis: 50%;
    max-height: 80vh;
}
#product .swiper img {
      object-fit: cover;
    height: 100%;
    width: 100%;
}
#product figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 100vh;
}
#product article .content {
    background-color: #fefefe;
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    margin: 0 2rem 2rem;
}
.content section {
    padding: 3rem;
    border-bottom: 1px solid #ccc;
}
.content section:last-of-type {
  border:none;
}
#product article .content .price {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
#product article .content span.property {
    padding-right: 2rem;
    font-weight: 600;
}

#product article .content section div > p {
    display: flex;
}

#product article .content section div > p > span {
    flex: 1;
}
#product .content .name {
    font-weight: 600;
    margin-bottom: 3rem;
}
#product .avatarCont { align-items: center; gap:3rem;}
#product .avatar { width:70px; height: 70px;}
@media (min-width:1024px) {
  #product article {
      justify-content: center;
      gap:6rem;
      flex-direction: row;
      padding: 0 2rem;
  }
  #product article > * {
    flex: 1 1 50%;
    margin: 4rem 0;
  }
  #product article .content {
      margin: 8rem 0;
      flex-basis: 50%;
  }
}
