* { box-sizing: border-box }
html {font-size: 62.5%;}
body {
 margin:0;
 line-height: 1.5;
 font-size: 1.6rem;
}
ol, ul {
  list-style: none;
}
figure {
  margin: 0;
}
figure img {
  display: block;
}
img { max-width:100%; }
.flexContainer { 
 display: flex;
 flex-wrap:wrap
}
.innerContainer {
    max-width: 1320px;
    margin: 0 auto;
}